In [3]:
import pandas as pd

In [5]:
# Create a dictionary with mixed data type
data={'name':['Rashedul','apel','nayem'],
     'age':[24,25,26],
     'occupation':['teacher','doctor','farmer'],
     'salary':[60000,55000,70000]
     }

In [6]:
data

{'name': ['Rashedul', 'apel', 'nayem'],
 'age': [24, 25, 26],
 'occupation': ['teacher', 'doctor', 'farmer'],
 'salary': [60000, 55000, 70000]}

In [7]:
# create a DataFrame and cheak the data types
df=pd.DataFrame(data)
print(df.dtypes)

name          object
age            int64
occupation    object
salary         int64
dtype: object

In [8]:
df

       name  age occupation  salary
0  Rashedul   24    teacher   60000
1      apel   25     doctor   55000
2     nayem   26     farmer   70000

# Datetime

In [11]:
# create a list dates 
dates=['2023-10-04','2024-11-15','2025-01-01']
# create a DataFrame with a datetime column
df1=pd.DataFrame({'Date':dates})
# cheak the data type of the date column
df1['Date'].dtype

dtype('O')

In [12]:
timestamps=pd.to_datetime(dates)
df2=pd.DataFrame({'Date2'}:timestamps)

SyntaxError: invalid syntax (4175226877.py, line 2)